<nav class="navbar is-info" role="navigation" aria-label="dropdown navigation">
    <a class="navbar-item logo" href="/">
        <img src="/static/sun.png" alt="Logo" width="70">
    </a>
    <a class="navbar-item" href="/ideas"> Semua Posts </a>
    <a class="navbar-item" href="/ideas/add"> Posting Idea </a>
    <a class="navbar-item" href="/about"> About </a>
    <a class="navbar-item" href="/contact"> Contact </a>
</nav>