<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Ini Contact page</h1>
            <h2 class="subtitle">Serius ini adalah kebersamaan individual di Paris?</h2>

            <ul>
                <li><strong>Nama kandung:</strong> {{nama}}</li>
                <li><strong>Nomor hape:</strong> {{hape}}</li>
            </ul>
        </div>
    </div>
</section>