<section class="hero is-fullheight is-info">
    <div class="hero-body">
        <div class="container">
            <h2 class="title">{{title}}</h2>
            <h3 class="subtitle">{{sub}}</h3>
            <a class="button is-danger" href="/ideas/add">Yuk bikin ide</a>
        </div>
    </div>
</section>