
<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Berupa Form Nih Nanti</h1>

            <form action="/ideas" method="POST">
                <div class="field">
                    <label class="label" name="title">Judul</label>
                    <div class="control">
                        <input class="input" type="text" name="title" placeholder="Judul ide kamu...">
                    </div>
                </div>
                <div class="field">
                    <label class="label" name="description">Deskripsi</label>
                    <div class="control">
                        <textarea class="textarea" name="description" placeholder="Apa deskripsi ide kamu kali ini?"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>